@model IEnumerable<DailyExpense>
@{
    ViewData["Title"] = "Index";
}
<div class="container mb-2">
    <div class="row mb-2">
        <div class="col">
            <div class="display-6">Daily Expense Details:</div>
            <div class="d-flex justify-content-end mb-2">
                <a asp-action="Create" asp-controller="DailyExpenses"><i class="fa fa-plus-square-o btn btn-outline-success "></i></a>
            </div>
            <form asp-controller="DailyExpenses" asp-action="index">
                <div class="d-flex justify-content-end mb-2">
                    <label class="px-2">From</label>
                    <input style="width:300px" name="from" id="from" class="form-control form-control-sm mr-1" />
                    <label class="px-2">To</label>
                    <input style="width:300px" name="to" id="to" class="form-control form-control-sm mr-1" />
                    <div id="buttonsearch">
                        <button type="submit" class="btn btn-secondary btn-sm">Show</button>
                    </div> 
                </div>               
            </form>
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>Expense Date</th>
                        <th>Expense Category</th>
                        <th>Amount(TK)</th>
                        <th>Update/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var expense in Model)
                    {
                        <tr class="text-center">
                            <td>@expense.ExpenseDate.ToString("yyyy-MM-dd")</td>
                            <td>@expense.ExpenseCategory.CategoryName</td>
                            <td>@expense.Amount.ToString("0.00")</td>
                            <td classBranch"text-center">
                                <a asp-action="Update" asp-controller="DailyExpenses" asp-route-Id="@expense.DailyExpenseId"><i class="fa fa-pencil-square-o btn btn-outline-success"></i></a>
                                <a asp-action="Delete" asp-controller="DailyExpenses" asp-route-Id="@expense.DailyExpenseId"><i class="fa fa-trash-o btn btn-outline-danger"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section styles {
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
    <link href="~/lib/Custom Design/main.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(() => {
            $("#from").datepicker({
                format: 'yyyy-mm-dd'
            });
            $("#to").datepicker({
                format: 'yyyy-mm-dd'
            });
        })
    </script>
}

